# metrics - honduras

Abril 2023

### Diana Jaimes

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import math
import glob
import datetime
from datetime import datetime
import re
from datetime import datetime, date, timedelta


##=====================================================
#metrics
##=====================================================


from sklearn.metrics import r2_score, mean_squared_error
from scipy.stats import kendalltau
import scipy.stats as stats

In [2]:
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

# Parameters:

In [3]:
folder = 'Z:\\1.Data\\Honduras\\raw\\monthly\\'
feature = 'prec'
output_path='Z:\\1.Data\\Honduras\\results\\metrics\\'
overall_file='metrics_overall.csv'
monthly_file='metrics_monthly.csv'

# Fuctions

In [4]:
def read_files(path_folder:str,
               feature
              )-> list:
    """
    function to identify the files of the observed stations and satellite data.

    Args:
        path_folder(str): Folder path
        feature(str): feature to read
    Returns:
        (list) : Lists with all concatenated files. 
        The first list corresponds to the observed data files and the second to the satellite data files.

    """
    filenames = glob.glob(
        path_folder + "/*.csv"
    )
    files_feat = [s for s in filenames if feature in s]
    obs_stations_file = [s for s in files_feat if 'obs' in s]
    satellites_file = [i for i in set(files_feat) if i not in obs_stations_file]
    return obs_stations_file, satellites_file 

def fun_get_data_grid(folder,
                      feature
                     )-> pd.DataFrame:
    """
    function to read data from both satellite and station files

    Args:
        path_folder(str): Folder path
        feature(str): feature to read
    Returns:
        df_stations(df) : dataframe with station data
        data_grid(df) :dataframe with satellital data
    """
    station_data, grid_data = read_files(folder, feature)
    df_stations = pd.read_csv(
        station_data[0]
    ).rename(
        columns={'Unnamed: 0':'date'}
    )
    df_stations['date'] = pd.to_datetime(df_stations['date'])
    df_stations.set_index('date', inplace=True)
    df_stations['source'] = 'obs_stations'
    
    data_grid = pd.DataFrame()
    for file in grid_data:
        df_gridded = pd.read_csv(file).rename(
            columns={'Unnamed: 0':'date'}
        )
        df_gridded['date'] = pd.to_datetime(df_gridded['date'])
        df_gridded.set_index('date', inplace=True)
        name = file[file.find(folder) + len(folder):file.find(feature)-1]
        df_gridded['source'] = name
        data_grid = pd.concat(
            [data_grid, df_gridded],
            axis=0
        )
    return df_stations, data_grid

def overall_metrics(df_reference,
                    df_comparison)-> pd.DataFrame:
    """
        Function that calculates comparison metrics between station data and satellite data.
        The data sets are within the same time period.
    Args:
        df_reference(str):Reference dataset, namely the data from the stations.
        df_comparison(str): Comparison dataset, namely the data from satellite sources.
    Returns:
        rta(df) : Dataframe with the obtained metrics, where the indices are the stations,
        the columns are the metrics and the compared satellite source.
    
    """
    metrics = ['r2', 'rmse', 'kendall', 'spearman','mape', 'source']
    results = pd.DataFrame(columns=metrics)
    rta = pd.DataFrame()
    for source in df_comparison.source.unique():
        for column in df_reference.columns[:-2]:
            ref = df_reference[column].dropna()
            comparison = df_comparison[df_comparison.source==source][column].dropna()
            #This guarantees that the dataframes are within the same range of dates
            common_dates = ref.index.intersection(comparison.index).to_list()
            if len(common_dates)!=0:
                ref_comm = ref.loc[common_dates]
                comparison_comm = comparison.loc[common_dates]
                r2 = r2_score(ref_comm, comparison_comm)
                rmse = mean_squared_error(ref_comm, comparison_comm)
                tau, pvalue = kendalltau(ref_comm, comparison_comm)
                corr, p_value = stats.spearmanr(ref_comm, comparison_comm)
                #Division by zero is avoided by adding 0.1 to change the reference
                if ref_comm.min()==0 or comparison_comm.min()==0:
                    mape=np.mean(
                        np.abs(
                        ((ref_comm+0.1) - (comparison_comm+0.1)) / (ref_comm+0.1))
                    ) * 100
                    results.loc[column] = [r2, rmse, tau, corr, mape, source]
                else:
                    mape=np.mean(
                        np.abs(
                            (ref_comm - comparison_comm) / ref_comm))*100
                    results.loc[column] = [r2, rmse, tau,corr, mape, source]
            else:
                results.loc[column] = [np.nan, np.nan, np.nan, np.nan,np.nan, source]
        rta =  pd.concat([rta, results], ignore_index=False, axis=0)
    return rta

def monthly_metrics(df_reference, df_comparison):
    """
        Function that calculates comparison metrics between station data and satellite data for each month
        (using the mean as the aggregation function). Datasets are within the same time period.
    Args:
        df_reference(str):Reference dataset, namely the data from the stations.
        df_comparison(str): Comparison dataset, namely the data from satellite sources.
    Returns:
        rta(df) : Dataframe with the obtained metrics, where the indices are the stations,
        the columns are the metrics and the compared satellite source.
    """
    metrics = ['r2', 'rmse', 'kendall','spearman','mape', 'month', 'source']
    results = pd.DataFrame(columns=metrics)
    rta=  pd.DataFrame()
    for i in range(1,13):
        for source in df_comparison.source.unique():
            for column in df_reference.columns[:-2]:
                ref = df_reference[column].dropna()
                comparison = df_comparison[df_comparison.source==source][column].dropna()
                common_dates = ref.index.intersection(comparison.index).to_list()
                if len(common_dates)!=0:
                    ref_ = ref.loc[common_dates].to_frame()
                    com_ = comparison.loc[common_dates].to_frame()
                    ref_['month'] = ref_.index.month
                    com_['month'] = com_.index.month
                    ref_comm = ref_[['month', column]]
                    comparison_comm =com_[['month', column]]
                    test=ref_comm[ref_comm.month==i][column]
                    test2 = comparison_comm[comparison_comm.month==i][column]
                    r2 = r2_score(test, test2)
                    rmse=mean_squared_error(test, test2)
                    tau, pvalue= kendalltau(test, test2)
                    corr, p_value = stats.spearmanr(test, test2)
                    #Division by zero is avoided by adding 0.1 to change the reference
                    if test.min()==0 or test2.min()==0:
                        mape=np.mean(np.abs(((test+1) - (test2+1)) / (test+1))) * 100
                        results.loc[column]=[r2, rmse, tau,corr,mape, i, source]
                    else:
                        mape=np.mean(np.abs((test - test2) / test)) * 100
                        results.loc[column]=[r2, rmse, tau,corr,mape, i, source]
                else:
                    results.loc[column]=[np.nan,np.nan, np.nan, np.nan, np.nan, i, source]
                
            rta =  pd.concat([rta, results], ignore_index=False, axis=0)
    return rta

# Execution

In [5]:
df_stations, df_gridded = fun_get_data_grid(folder, feature)

In [6]:
overall_metrics(df_stations, df_gridded).to_csv(output_path + feature + '_'+ overall_file)

                     r2          rmse   kendall  spearman         mape  source
ESQUIAS        0.604066   4372.687891  0.638776  0.845553   625.461731   mswep
LA ERMITA      0.408784   3104.680479  0.664797  0.858707   175.955020   mswep
SULACO         0.142380   4671.419837  0.509614  0.706199  2706.746210   mswep
PLAYITAS      -0.494814   6371.552753  0.661058  0.862752   871.035687   mswep
FLORES         0.381447   4133.242511  0.675541  0.853471  2648.426638   mswep
...                 ...           ...       ...       ...          ...     ...
NAMASIGUE     -0.170957  17953.176615  0.753446  0.918223  1551.158713  agera5
SABANA GRANDE  0.778883   6649.698014  0.781911  0.933940  1762.068721  agera5
LA LABOR       0.643904   4177.907171  0.704249  0.891082   955.667774  agera5
LA MESA       -0.955614   8452.192261  0.553598  0.743095   746.044827  agera5
POTRERILLOS   -0.099384   7337.035782  0.510650  0.713994  4556.625030  agera5

[184 rows x 6 columns]

In [7]:
monthly_metrics(df_stations, df_gridded).to_csv(output_path + feature + '_'+ monthly_file)

,r2,rmse,kendall,spearman,mape,month,source
ESQUIAS,-1.065473,187.943220,0.214570,0.323799,102.071527,1,mswep
LA ERMITA,-1.917746,303.803361,0.224229,0.313415,186.471959,1,mswep
SULACO,-77.806687,3578.327948,0.202532,0.305262,1393.769310,1,mswep
PLAYITAS,-19.948173,461.480135,-0.048266,-0.059769,458.078331,1,mswep
FLORES,-1.697916,146.228666,0.331531,0.461235,288.008032,1,mswep
...,...,...,...,...,...,...,...
NAMASIGUE,-0.056957,257.182251,0.376655,0.440011,542.514810,12,agera5
SABANA GRANDE,-1.747660,63.109001,0.326728,0.423126,428.563699,12,agera5
LA LABOR,-53.714786,1789.580008,0.415428,0.606024,678.199934,12,agera5
LA MESA,-2.188409,6784.303235,0.228070,0.335830,111.236456,12,agera5
POTRERILLOS,-74.023872,8373.781916,0.135243,0.201339,1926.018497,12,agera5